body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
}
hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hero-text {
    flex: 1;
}

.hero-image img {
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}